@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary-color: oklch(0.642 0.1568 245.7);
  --primary-text-color: oklch(0.1946 0.0157 236.07);
  --secondary-text-color: oklch(0.5593 0.0663 238.46);
  --accent-color: oklch(0.9453 0.0101 238.51);
  --border-color: oklch(0.8927 0.0195 235.75);
}

@theme inline {
  --font-sans: var(--font-geist-sans, 'Public Sans', 'Noto Sans', sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: oklch(0.642 0.1568 245.7);
    --primary-text-color: oklch(0.1946 0.0157 236.07);
    --secondary-text-color: oklch(0.5593 0.0663 238.46);
    --accent-color: oklch(0.9453 0.0101 238.51);
    --border-color: oklch(0.8927 0.0195 235.75);
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.animate-fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.animate-fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.animate-text-reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.animate-text-reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

